body {
    font-family: 'Inter', sans-serif;
    background-color: #E2F3F0;
}

#banner {
    

    background-image: url('../img/billboard-bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between
 
}
#banner p{
    line-height: 1;
}

#banner form{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}
#banner input{
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 10px;

}

#banner .btn{
    position: relative;
    right: 12%;
    border-radius: 10px;
    margin: 5px 0;

}

#banner img{
    max-width: 100%;
}

#reviews {
    min-height: 500px;
    border: 1px solid black;
    background-color: aquamarine;
}

._ms-container {
    width: 100%;
}

.header-top{
    min-height: 2.5rem;
    background-color: #ec6c5b;
}

.header-top p{
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

.header-top a{
    color: white;
}

.section {
    margin: 20px 0;
}

.card {
    margin: 10px 0;
}

.carousel-indicators input[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #000;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators input[type="radio"]:checked {
    background-color: #000;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vr {
    color: #ec6c5b;
    border: 10px;
}

.steps-timeline {
    position: relative;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
}

.item-icon {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    left: -18%;
    top: -12px;
 
    
    background: #ec6c5b;
    border: 3px solid #ffffff;
    border-radius: 50%;
    z-index: -1;
}

.timeline-panel {
    position: relative;
    border: 1px solid #d4d4d4;
    background: #ffffff;
    border-radius: 2px;
    margin-left: 10%;
}

.timeline-heading h4 {
    margin-top: 0;
    color: white;
    padding: 10px;
    background-color: #ec6c5b;
}



.btn-custom {
    background: #4cc083;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

/* @media (max-width: 768px) {
    .timeline-panel {
        width: 86%;
        float: none;
        left: 14%;
        margin-bottom: 20px;
    }

    .timeline-item:nth-child(even) .timeline-panel {
        left: 14%;
    }

    .item-icon {
        left: -6%;
        margin-left: 0;
    }
} */

#cta {
    background-color: peachpuff;

    min-height: 500px;
}


.main-container{
    display: flex;
    flex-direction: column;
    
    align-items: start;


}

.line{
    position: relative;
    left: 27%;
    top: 15px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: translate(-50%);
    background-color: #ec6c5b;

}



.card {

    top: 70px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.left {
    position: relative;
    left: auto
}

.right {
    position: relative;
    left: auto;
}

.left::after,
.right::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ec6c5b;
    border-radius: 0px 10px;
    transform: rotate(320deg);
    z-index: -1;
}

.left::after {
    top: 13px;
    left: 28px;
}

.right::after {
    top: 13px; 
    left: 28px;
}


